:root {
    --color1: #FBBC01;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background: url("imgs/anh.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.3);
}

header input {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: fixed;
}

.menu-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.menu-line {
    height: 4px;
    width: 100%;
    background: var(--color1);
    position: relative;
}

.menu-line::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    bottom: -14px;
}

header input:checked~.menu-icon .menu-line::before {
    transform: rotate(90deg);
    top: 0;
}

header input:checked~.menu-icon .menu-line::after {
    transform: rotate(90deg);
    top: 0;
}

header input:checked~.menu-icon .menu-line {
    transform: rotate(135deg);
    transition: 0.3s;
}

header input:checked~.menu-item {
    right: 23%;
}

.menu-line::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    bottom: 14px;
}

.menu-item {
    position: absolute;
    margin-left: 50px;
    width: 100vh;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    top: 80px;
    right: -100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    z-index: 10;
    flex-direction: row;
    transition: 0.6s;
}

.menu-item li a {
    margin-left: 50px;
}

.menu-item li {
    line-height: 40px;
}

.menu-item li a {
    color: #FBBC01;
}

.header-text {
    position: absolute;
}

.header-text h1 {
    font-size: 50px;
    color: rgb(199, 226, 78);
}

.btn {
    border-radius: 40px;
    color: rgb(199, 226, 78);
    font-size: 30px;
}

.btn a {
    border-radius: 40px;
    font-size: 30px;
    background: var(--color1);
    color: black;
    opacity: 3.3;
    animation: headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes headerAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@media screen and (max-width: 800px) {
    .menu-icon,
    .menuline,
    .menu-item,
    .menu-text,
    .btn,
    {
        width: 100%;
    }
    .menu-item {
        position: fixed;
        display: table-column;
        /* justify-content: center; */
        right: -100%;
        width: 100px;
        height: 30vh;
        display: inline;
    }
    header input:checked~.menu-item {
        right: 70%;
    }
}


/* style HOMEPAGE */