.footerHomePage {
    border-top: 2px solid  gray;
    background-color: rgb(247, 247, 247);
    color: black;
    width: 100%;
    }               
.text a {
    color: rgb(102, 0, 153);
    }
                    
.head {
    margin: 20px;
   
}
           



/* hover áº£nh header */
.contentHomePage{
    background-image: url("imgs/backgorund.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.main .item img{
    position: relative;
    background-size: cover;
}
.main .item button {
    border:1px solid black;
    border-radius: 24px;
}
.main .item button a{
    text-decoration: none;
    color:chocolate;
    
}
.main .item h3{
    width:400px;
    height:50px;
    position: absolute;
    top: 30%;
    left:50%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 10px;
    margin-top:-25px;
    font-size: 40px;
    animation: chuchay 4s forwards;
    color:black;
}
.main .item button{
    width:250px;
    height:50px;
    position: absolute;
    top: 50%;
    right:42%;
    text-align: center;
    padding: 5px 10px;
    font-size: 30px;
    animation: buttonchay 4s forwards;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

@-webkit-keyframes chuchay{
    from{opacity: 0;
        margin-left:-300px;
    }
    to{
        opacity: 1;
        margin-left: -200px;
    }
}
@-webkit-keyframes buttonchay{
    from{opacity: 0;
        margin-right:-100px;
    }
    to{
        opacity: 1;
        margin-right: 0px;
    }
}

.treding a{
    width:40vh; 
    border-radius:24px; 
    border:1px solid black; 
    background:rgba(0, 0, 0, 0.2);
    animation: trendingchay 2s forwards;
    
}
@-webkit-keyframes trendingchay{
    from{opacity: 0;
        margin-left:-100px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

/* header */
.head {  
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.head .navbar{    
    width: 100%;
    height: auto;
    margin: 0 auto;  
    background-color:rgb(255, 186,0);
    color:black;
}
.container a{
    color:black ;
}

.treding .nav a{
    text-decoration: none;
    width: 100%;
    /* background-color: #4CAF50; */
    color:black;

}

.treding li a:hover{  
    background:rgb(230, 208, 191);
}



.topNarbar ul li a:hover {
    background-color: #ddd;
    color: black;
}
                                      
                    
div.container .product {    
    cursor: pointer;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
                    
img {
    width: 100%;
    height: auto;
    transition: all ease-in-out;
    }
                    
.imgs {
    width: 300px;
    height: 225px;
    position: relative;
    overflow: hidden;
    }
                    
.imgs:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease-out;
    }
* {
    padding: 0;
    margin: 0;
    font-family: 'helvetica', cursive;
}


/*  css content of modal  */
.box {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #555;
}

.box img {
    width: 100%;
    height: auto;
}

.box .box-heading {
    width: 90%;
    position: absolute;
    bottom: 25px;
    left: 5%;
    background: rgba(189, 159, 25, 0.6);
    padding: 10px 60px 10px 25px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.box:hover .box-heading {
    left: 100%;
}

.box .box-heading:after {
    content: "";
    font-family: fontawesome;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 13px;
    right: 11px;
    background: #20211c;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.box .title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.box .post {
    display: block;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 5px;
}

.box .boxContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 30px 35px;
    background: rgba(183, 196, 201, 0.8);
    transition: all 0.2s ease 0s;
}

.box:hover .boxContent {
    left: 0;
}

.box .description {
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}

.box .cart {
    display: inline-block;
    padding: 10px 20px;
    background: #cee963;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.box .cart:hover {
    text-decoration: none;
    background: #fff;
    color: #3fc9f7;
}

.box .cart i {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .box .boxContent {
        padding: 10px;
    }
    .box .cart {
        margin-top: 10px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
.grid-item {
    border-radius:24px;
    margin-left:2vh;
    font-size: 20px;
    height: auto;
    text-align: center;
}
.grid-item img{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius:24px;
    animation: anhchay1 2s forwards;
    position: relative;
 
}
@-webkit-keyframes anhchay1{
    from{
        opacity: 0;
        left:-100px;
    }
    to{
        opacity: 1;
        left: 0px;
    }
}
.grid {
    border-radius:24px;
    margin-left:2vh;
    font-size: 20px;
    height: auto;
    text-align: center;
}
.grid img{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius:24px;
    animation: anhchay2 2s forwards;
    position: relative;
 
}
@-webkit-keyframes anhchay2{
    from{
        opacity: 0;
        right:-100px;
    }
    to{
        opacity: 1;
        right: 0px;
    }
}


/* responsive for img  */
.text a{
    color: blue;
}

.body-images {
    background-image: url("imgs/anh.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.discounts{
	display: grid;
	grid-template-columns: auto auto auto auto;
    margin-left: 20px;
    color:white;
   
    text-align: center;
}
.discounts .car{
    font-size: 100%;
    width: 50%;
}
.discounts .car p{
    font-size: 100%;
   
}


#foot .navbar-light .navbar-nav .nav-link:focus,
    #foot .navbar-light .navbar-nav .nav-link:hover {
        color: #ef4211;
    }
    #foot nav{
        padding: 15px 0px;
    }
    #foot .navbar-light .navbar-nav .nav-link {
        color: #5a5a5a;
        font-size: 20px;
    }
    #foot {
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        float: left;
        width: 100%;
    }
    #foot ul.navbar-nav {
        position: absolute;
        right: 0;
    }
    #foot li.nav-item {
        margin: 0px 10px;
    }
    #foot .navbar-light .navbar-nav .active>.nav-link, #foot .navbar-light .navbar-nav .nav-link.active, #foot .navbar-light .navbar-nav .nav-link.show, #foot .navbar-light .navbar-nav .show>.nav-link {
        color: #ef4211;
    }
    #foot .dropdown-menu.show {
        border: none;
    }
    .topbar {
        background-color:black;
        color: #fff;
        padding: 4px 0px;
    }
    .topbar ul{
        margin: 0px;
        padding: 0px;
      }
    .topbar ul li {
        float: left;
        list-style: none;
        margin: 3px 7px;
        font-size: 15px;
      }
    .topbar ul li a{
        color: #fff;
        
    }
    .topbar ul li i {
        font-size: 18px;
        margin-right: 3px;
    }
    .topbar ul li.followus-label {
        font-weight: bold;
    }
    #foot .social-icon {
        float: right;
    }
      /*=============Responsive css==================*/
      @media (max-width: 991px){
    .topbar ul li {
        margin: 3px 3px;
        font-size: 12px;
    }
#foot ul.navbar-nav {
    position: static;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 15px 0px 0px;
}
}
    







 /* comment of customer */
.comment-customer {
   display: flex;
}
.textComment p a{
    color:black;
    height: 30px;
    /* border:1px solid black;   */
    /* background: rgb(197, 103, 103);  */
    font-size: 125%;
    
}
.comment img{
    max-width:120px; 
    min-height: 120px; 
    border-radius:100px; 
    float:left; 
}
.btndetail button{
    background: rgb(206, 225, 226);
    color:black;
}